<h1>Wochenplan</h1>
<p>Download as:
    <%= link_to "JSON", params.merge(:format => :json), :id => "calendar-data-json" %>
    , <%= link_to "ICS", params.merge(:format => :ics), :id => "calendar-data-ics" %>
</p>
<%= render 'weekcalendar' %>
