// Place all the styles related to the Moduls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container
  width: 60%
  margin: 0 auto

#lp
  margin: 25px
  background-color: #eee
  display: inline

#form
  margin: 25px
  background-color: #bbb
  display: inline
#art
  margin: 25px
  background-color: #eee
  display: inline

#turnus
  margin: 25px
  background-color: #bbb
  display: inline
