// Place all the styles related to the Moduls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container
  width: 60%
  margin: 0 auto

.modul-overview
  background-color: #eee
  display: inline
  font-size: 150%
[lvselected="true"]
  background-color: #b9ccd6

.Uebung
  background-color: #f7d0ac
.Vorlesung
  background-color: #b9ffcf
.Seminar
  background-color: #f9ccf6
.Praktikum
  background-color: #cdcaee

.modul_nummer
  white-space: nowrap
